Source: vmstrap
Section: devel
Priority: extra
Maintainer: Alex Young <alex@blackkettle.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/regularfry/vmstrap.git

Package: vmstrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, in-chroot
Description: Build a bootable vm image
 Builds a bootable VM image from debootstrap and extlinux.  The image is also
 mountable.
